# contains all requirements that do not need to build against
# our C++ dependencies. Notably missing h5py, PyQt4/PyQt5
euphonic[phonopy_reader]
flake8
ipython[notebook]
lxml
matplotlib
numpy
pre_commit
psutil
pycifrw
pywin32
pyyaml
qtconsole
qtpy
requests
scipy
sphinx
sphinx-bootstrap-theme
toml
xmlrunner
yapf